{{! Getting Started Example
    (from emberjs.com)}}

<h1>People</h1>
<ul>
{{#each peopleController}}
  <li>Hello, <b>{{fullName}}</b>!</li>
{{/each}}
</ul>

<p>Learn more at <a href="{{{url}}}">emberjs.com</a></p>